# Environment
.env
.env.local
.env.production
**/.env

# Python
**/venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pkl
**/*.egg-info/
**/dist/
**/build/

# Node
**/node_modules/
**/.next/
**/out/

# ML
**/mlruns/
**/*.h5
**/*.model

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/